<table style="position:relative">
	<tr>
		<td>
			<app-start-stop></app-start-stop>
		</td>
		<td>
			<app-speed-control></app-speed-control>
		</td>
    <td><app-timer-monitor></app-timer-monitor></td>
		<td><button (click)="add()">add </button></td>
    <td><input type="range" min="0" max="1" step="0.01" (input)="onSearchChange($event.target.value)"/><canvas #analizer height="100" width="640" style="border:1px solid black"></canvas> </td>
  </tr>
</table>
<div *ngFor="let p of pianoRolls;let i = index" style="position:relative;">
<app-piano-roll></app-piano-roll>
</div>